<template>
<div v-if="initialized">
  <section id="home">
    <div class="container header-bg">
      <div class="row">
        <div class="col white--text">
          <h1>Join us. <br>From anywhere.</h1>
          <h5>Wir sind auf der Suche nach versierten und inspirierten Personen,<br> die unser schnell wachsendes Team verstärken wollen.</h5>
          <!-- <button class="btn btn-primary" href="mailto:info@rappidoo.consulting">Kontakt aufnehmen</button> -->
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container pb-5">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="pb-1">{{job.title}}</h2>
          <h3 class="pb-5 text-sky-blue font-weight-normal">{{job.where}}</h3>
        </div>
      </div>

      <JobCompanyHeadline></JobCompanyHeadline>

    </div>
  </section>

  <JobBenefits></JobBenefits>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>WAS DU TUN WIRST</h2>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <ul class="job-desc">
            <li v-for="jobDescription in job.jobDescription" :key="jobDescription.id"><i class="fa fa-angle-right"></i>{{jobDescription}}</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>WER DU BIST</h2>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <ul class="job-desc">
            <li v-for="whoAreYou in job.whoAreYou" :key="whoAreYou.id"><i class="fa fa-angle-right"></i>{{whoAreYou}}</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>DEIN KONTAKT</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 d-flex flex-column justify-content-center">
          <p>Als junges Consulting-Unternehmen stehen wir nicht auf standardisierte Bewerbungsanschreiben und geschönte Lebensläufe. Zeig uns, wer du wirklich bist! Wir freuen uns auf Links zu deinen Profilen auf XING, LinkedIn, Facebook
            oder selbst
            TikTok. Du musst sie auch nicht extra für uns aufhübschen, solange wir etwas über dich und deinen Werdegang herausfinden können.
          </p>
          <p>
            Außerdem freuen wir uns über dein individuelles Consultant-Profil, in dem du z.B. folgende Fragen beantworten kannst:
          </p>

          <ul>
            <li>Was sind deine Skills?</li>
            <li>Welche Projekte hast du schon erfolgreich abgeschlossen?</li>
            <li>Was sind deine Skills?</li>
            <li>Wie bist du vorgegangen, um eine Lösung für ein Problem zu finden?</li>
          </ul>


        </div>

        <ContactPerson></ContactPerson>

      </div>
    </div>
  </section>
  <!--  <section id="more-job">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="pb-3">Mehr Jobs im Bereich {{job.category}}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <ul class="job-list">
                        <li v-for="job in jobsInSelectedCategory" :key="job.id"><a :href="'/job/' + job.id"><i class="fa fa-angle-right"></i>{{job.title}}<span>{{job.where}}</span></a></li>
                         TODO: add job in category
                    </ul>
                </div>
            </div>
        </div>

    </section> -->
</div>
</template>

<script>
import ContactPerson from "@/components/ContactPerson"
import JobCompanyHeadline from "@/components/JobCompanyHeadline"
import JobBenefits from "@/components/JobBenefits"

export default {
  data() {
    if (!this.job) {
      return this.meta_title = "Jobs | Rappidoo Consulting"
    }

    //   '{"@context": "https://schema.org/","@type": "JobPosting","title": "'+this.job.title+'","description": "'+this.job.description+'",
    //   "hiringOrganization": {"@type": "Organization","name": "Rappidoo GmbH","sameAs": "https://www.rappidoo.consulting"},
    //   "industry": "IT- Consulting","employmentType": "FULL_TIME","datePosted": "2020-02-25","validThrough": "","jobLocation": {
    //     "@type": "Place","address": {"@type": "PostalAddress","streetAddress": "Habsburgerstr, 11","addressLocality": "Nürnberg","postalCode": "90475","addressCountry": "DE"}},{"@context": "https://schema.org","@type": "Organization","url": "http://www.rappidoo.consulting","legalName": "Rappidoo GmbH","logo": "http://www.rappidoo.consulting","name": "Rappidoo GmbH","contactPoint": {"@type": "ContactPoint","telephone": "+4991193160326","contactType": "Backoffice"},"foundingDate": "2017","founders": [{"@type": "Person","name": "Nabil Sayegh"},{"@type": "Person","name": "Michael Ewe"}],"sameAs": ["https://www.facebook.com/rappidoogmbh/","https://www.xing.com/companies/rappidoogmbh","https://www.linkedin.com/company/rappidoogmbh","https://twitter.com/rappidoogmbh"]}}'
    // TODO: employmentType in DB - {{job.employmentType}}
    // TODO: datePosted in DB - {{job.postDate}}
    // TODO: description in DB
    // TODO: insert logo

  return {
    meta_title: this.job.title + " | Rappidoo Consulting",
    meta_description: "Werde Teil des Teams von Rappidoo und bewirb dich jetzt auf die freie Stelle als "+ this.job.title +".",
    meta_img: "/img/OG_Rappidoo_GmbH.png",
    meta_url: "https://www.rappidoo.consulting" + this.$nuxt.$route.path,
    meta_jsonld: "TEST"
  }

},
async fetch({
    store,
    params
  }) {
    await store.dispatch('loadJobs');
  },
  components: {
    ContactPerson,
    JobCompanyHeadline,
    JobBenefits
  },
  computed: {
    initialized() {
      return this.$store.getters.jobs && this.job
    },
    job() {
      return this.$store.getters.jobById(parseInt(this.$route.params.id))
    }
  },
  head() {
    return {
      title: this.meta_title,
      title: this.meta_title,
      __dangerouslyDisableSanitizers: ['script'],
      script: [{
        type: 'application/ld+json',
        src: this.meta_jsonld
      }],
      meta: [{
        name: "title",
        content: this.meta_title
      }, {
        property: "og:title",
        content: this.meta_title
      }, {
        property: "twitter:title",
        content: this.meta_title
      }, {
        property: "og:description",
        content: this.meta_description
      }, {
        name: "description",
        content: this.meta_description
      }, {
        property: "twitter:description",
        content: this.meta_description
      }, {
        property: "twitter:image",
        content: this.meta_img
      }, {
        property: "og:image",
        content: this.meta_img
      }, {
        property: "twitter:url",
        content: "https://www.rappidoo.consulting" + this.$nuxt.$route.path
      }, {
        property: "og:url",
        content: "https://www.rappidoo.consulting" + this.$nuxt.$route.path
      }]
    }
    // }
  }
}
</script>
