<template>
  <v-speed-dial v-model="fab" fixed dark fab bottom right open-on-hover>
    <template v-slot:activator>
      <v-btn v-model="fab" color="#43B6F8" dark fab>
        <v-icon v-if="fab">mdi-close</v-icon>
        <v-icon v-else>contact_mail</v-icon>
      </v-btn>
    </template>
    <v-btn fab dark small color="#2D3271" href="mailto:info@rappidoo.consulting">
      <v-icon color="white">mail</v-icon>
    </v-btn>
    <v-btn fab dark small color="#008ACE" href="tel:+4991193160326">
      <v-icon color="white">phone</v-icon>
    </v-btn>
  </v-speed-dial>
</template>

<script>
export default {
  data: () => ({
    fab: false,
  }),
}
</script>
