<template>
  <div class="col-lg-auto col-md-6 profile text-white">
      <div class="blue-bg-img right-bg">
          <img src="/img/ceo.jpg" class="img-fluid">
          <div class="designation white--text">Deine Ansprechpartner<span>MICHAEL EWE</span></div>
          <div class="p-t-60">
              <a href="tel:+491705806245">
                  <i class="fa fa-phone"></i>
                  <span>+49 170 5806245</span></a>
          </div>
          <div class="p-t-20">
              <a href="mailto:michael.ewe@rappidoo.consulting">
                  <i class="fa fa-envelope"></i>
                  <span>michael.ewe@rappidoo.consulting</span></a>
          </div>
      </div>
  </div>
</template>
