<template>
<v-col lg="6" md="6" class="p-l-0">
  <div id="accordion" class="p-r-30 blue-bg-img left-bg p-l-15">
    <v-expansion-panels>
      <v-expansion-panel v-for="faq in faqs" :key="faq.name">
        <v-expansion-panel-header> <strong>{{faq.question}}</strong> </v-expansion-panel-header>
        <v-expansion-panel-content>{{faq.answer}}</v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
  </div>

</v-col>
</template>

<script>
export default {
  created: function() {
      this.$store.dispatch("loadFaqs")
  },
  computed: {
    faqs() {
      return this.$store.getters.faqs
    }
  }
}
</script>
