<template>
  <section id="get-with-us" class="blue-bg white--text text-center">
      <v-container>
          <v-row>
              <v-col lg="12">
                  <h3>WAS DU BEI UNS BEKOMMST</h3>
              </v-col>
          </v-row>
          <v-row class=" m-b-65">
              <v-col lg="3" md="6">
                  <v-icon color="white">battery_charging_full</v-icon>
                  <p> Tesla Firmenwagen</p>
              </v-col>
              <v-col lg="3" md="6">
                  <v-icon color="white">home</v-icon>
                  <p>Homeoffice</p>
              </v-col>
              <v-col lg="3" md="6">
                  <v-icon color="white">local_pizza</v-icon>
                  <p>Essenszulagen</p>
              </v-col>
              <v-col lg="3" md="6">
                  <v-icon color="white">headset_mic</v-icon>
                  <p>Coaching on the Job</p>
              </v-col>
          </v-row>
          <v-row class=" m-b-65">
              <v-col lg="3" md="6">
                  <v-icon color="white">access_time</v-icon>
                  <p>Flexible Arbeitszeiten</p>
              </v-col>
              <v-col lg="3" md="6">
                  <v-icon color="white">phone_iphone</v-icon>
                  <p>Apple Hardware</p>
              </v-col>
              <v-col lg="3" md="6">
                  <v-icon color="white">trending_up</v-icon>
                  <p>Wachstumsstarkes
                      <br/> Unternehmen</p>
              </v-col>
              <v-col lg="3" md="6">
                  <v-icon color="white">insert_emoticon</v-icon>
                  <p>Tolles Team</p>
              </v-col>
          </v-row>
      </v-container>
  </section>
</template>
