<template>
  <div class="row">
      <div class="col-lg-12">
          <p>Rappidoo hat seinen Hauptsitz in Nürnberg, im Herzen Frankens, und operiert als komplette "Remote Company". Was das bedeutet? Du kannst von überall auf der Welt für uns arbeiten - ob von den Stränden Balis, den Coworking Spaces Berlins
              oder deinem eigenen Bett. Du hast die Wahl, ein zuverlässiger Internetzugang ist unsere einzige Voraussetzung.</p>
          <p>Die besten Tech-Lösungen entstehen nur gemeinsam. Und trotzdem zählt jeder Einzelne. Um jedem die Möglichkeit zu bieten, das Beste aus sich herauszuholen, ist die Firmenkultur bei Rappidoo getrieben von Respekt, Transparenz, Kollaboration
              und direktem Feedback. In unserem Team ist kein Platz für Respektlosigkeit, Büropolitik oder Diskriminierung jeglicher Art. Wir hassen Bürokratie und starre Strukturen - wir stehen auf klar definierte Prozesse und iterative Verbesserungen.</p>
      </div>
  </div>
</template>
