<template>
  <div class="h-100 position-fixed side-nav align-center row align-items-center">
    <ul>
      <li><a href="mailto:info@rappidoo.consulting"><v-icon color="white">email</v-icon></a></li>
      <li><a href="tel:+4991193160326"><v-icon color="white">phone</v-icon></a></li>
    </ul>
  </div>
</template>
