
@import url('https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900');
@import url('https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css');
@import url('https://fonts.googleapis.com/css?family=Material+Icons');
@import url('https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css');

@font-face {
  font-family: Futura-bold;
  src: "@/assets/fonts/futura-bold.otf";
}

@font-face {
  font-family: Futura-medium;
  src: "@assets/fonts/futura-medium.ttf");
}
/*dynamic color*/
:root {
  --header-bg-img: url("../img/header.jpg");
  --uber-bg-img: url("../img/coding.jpg");
  --blue-bg-img: url("../img/blue-bg.png");
  --footer-bg-color: transparent;
  --section-bg-color: transparent;
  --button-bg-color: #42b6f8;
  --white-text-color: #ffffff;
  --main-text-color: #333333;
  --container-calc-width: calc(100% - 170px);
  --blue-bg-color: #42B6F8;
  --sky-blue-text-color: rgb(66, 182, 248);
}

.text-sky-blue {
  color: var(--sky-blue-text-color);
  font-family: Futura-medium;
}

.btn-primary {
  background-color: var(--button-bg-color);
  color: var(--white-text-color) !important;
  border: none;
  min-width: 270px;
  min-height: 40px;
  border-radius: 10px;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
  background-color: var(--button-bg-color) !important;
  color: var(--white-text-color) !important;
}
/*end color*/
/*global*/
body {
  font-family: Futura-medium;
  color: var(--main-text-color);
}

section {
  width: 100%;
  float: left;
  margin-bottom: 50px;
}

/* footer .container,
section .container {
  max-width: 100%;
  width: var(--container-calc-width);
} */

footer {
  background-color: var(--footer-bg-color);
  float: left;
  width: 100%;
  margin-top: 25px;
}

p {
  line-height: 26px;
}

a {
  text-decoration: none;
  color: var(--main-text-color) !important;
}

a:active,
a:focus,
a:hover {
  color: var(--main-text-color);
}

h1,
h2,
h3,
h4 {
  font-family: Futura-bold;
  font-weight: 700;
}

h1 {
  font-size: 3.2rem;
  margin-bottom: 10px;
}

/* h2 {
  padding: 100px 0 65px;
} */

h3 {
  font-size: 1.2rem;
}

h5 {
  line-height: 30px;
  margin-bottom: 15px;
}

h2:before {
  display: inline-block;
  margin: 20px 0 0 -120px;
  height: 1px;
  content: " ";
  text-shadow: none;
  background-color: #CECECE;
  width: 100px;
  position: absolute;
}
/*nav*/
.navbar {
  max-width: 100%;
  /*width: var(--container-calc-width);
    padding: 40px 70px 35px;
    margin: 0px auto;*/
}

.nav-item {
  padding: 0 55px;
}

.nav-link {
  text-transform: uppercase;
  padding: 0.2rem 0 !important;
}

.nav-link.active,
.nav-link:hover {
  border-bottom: 1px #CECECE solid !important;
}

.navbar-brand {
  padding-right: 4rem;
}
/*header*/
.header-bg {
  background-image: var(--header-bg-img);
  background-size: cover;
  background-position: center;
  padding: 180px 70px 100px;
}

#services i {
  font-size: 48px;
  margin-bottom: 20px;
}

#services h3 {
  margin-bottom: 20px;
}

#services p {
  line-height: 20px;
  font-size: 15px;
}

#vorteile h3 {
  font-size: 2rem;
  margin: 25px 0 40px;
  line-height: 1.4;
}

#vorteile i {
  border: 3px #6989DD solid;
  border-radius: 30px;
  font-size: 18px;
  padding: 2px;
  color: #6989DD;
}

#vorteile ul {
  padding: 0;
  list-style: none;
  margin-top: 50px;
}

#vorteile li {
  margin-bottom: 30px;
}

#vorteile li span {
  font-weight: bold;
  padding-left: 35px;
}

#uber-rappidoo .bg {
  background-image: var(--uber-bg-img);
  background-size: cover;
  background-position: top center;
  padding: 280px 0 0;
  border: 1px #AFB1B1 solid;
  border-radius: 10px;
}

#uber-rappidoo .card {
  padding: 50px 60px;
  border-radius: 10px;
  background: #42B6F8;
  color: var(--white-text-color);
}

#uber-rappidoo h3 {
  font-size: 2rem;
  line-height: 1.4;
  margin-bottom: 1rem;
}

#uber-rappidoo p {
  line-height: 24px;
}

footer hr {
  margin: 40px 0 35px;
  border-color: #707070;
}

footer i {
  font-size: 48px;
  margin-bottom: 20px;
}

footer ul {
  padding: 45px 0 25px;
  margin: 0;
  list-style: none;
  float: left;
}

footer ul li {
  display: inline-block;
  padding: 0 5px;
  float: left;
}

footer ul li:first-child {
  border-right: 1px #707070 solid;
}

.m-l-120 {
  margin-left: -110px;
}

.side-nav {
  right: 12px;
  z-index: 7777;
}

.side-nav ul {
  padding: 0;
  list-style: none;
}

.side-nav ul li {
  padding: 5px 14px;
  background: var(--button-bg-color);
  border-radius: 10px 0 0 10px;
  margin-bottom: 15px;
  font-size: 28px;
  z-index: 999;
}

.side-nav ul li a {
  color: var(--white-text-color) !important;
}

#mainNav {
  transition: padding-top 0.5s,padding-bottom 0.5s;
  z-index: 9999;
}

#mainNav.navbar-shrink {
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar {
  background: #ffffff;
}

#home {
  /* padding-top: 100px; */
}
/*career*/
.blue-bg {
  background-color: var(--blue-bg-color);
}
/*TODO: ICONS GRÖßER*/
.svg-inline--f {
  font-size: 4EM;
}

#fit-with-us ul {
  padding: 0;
  list-style: none;
}

#fit-with-us li {
  margin-bottom: 30px;
  display: flex;
}

#fit-with-us li:last-child {
  margin-bottom: 5px;
}

#fit-with-us li span {
  padding-right: 20px;
}

#deine h3 {
  color: var(--sky-blue-text-color);
  font-family: Futura-medium;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.3rem;
}

#deine input {
  display: none;
}

#deine img {
  box-shadow: 0 1px 5px 2px grey;
  width: 98%;
  margin: 1%;
}

.blue-bg-img {
  background-image: var(--blue-bg-img);
  padding: 30px 0;
  background-repeat: no-repeat;
}

.deine-bg-size {
  background-size: 56.5% 100%;
}

.centered-job-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.3rem;
  font-family: Futura-medium;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--white-text-color);
  width: calc(100% - 30px);
  height: 100%;
  display: inline-grid;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.p-r-0 {
  padding-right: 0;
}

.p-l-0 {
  padding-left: 0;
}

.p-t-20 {
  padding-top: 20px;
}

.p-t-60 {
  padding-top: 60px;
}

.p-r-30 {
  padding-right: 30px;
}

.p-l-30 {
  padding-left: 30px;
}

.p-l-15 {
  padding-left: 15px;
}

.m-b-15 {
  margin-bottom: 15px;
}

.m-b-75 {
  margin-bottom: 75px;
}

.job-desc,
.job-list {
  list-style: none;
  padding-left: 0;
}

.job-list li {
  text-transform: uppercase;
  background: #E0E0E0;
  padding: 10px 15px;
  border-radius: 4px;
  box-shadow: 1px 1px 5px #808080bf;
  margin-top: 20px;
  float: left;
  width: 100%;
  font-family: Futura-medium;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.3rem;
}

.job-list li i {
  font-weight: bold;
  font-size: 18px;
  padding: 0 15px;
}

.job-list li span {
  width: 100%;
  float: left;
  padding-left: 36px;
  font-size: 14px;
  color: var(--sky-blue-text-color);
}

#more-job .job-list li {
  padding: 10px 40px 10px 20px;
}

#more-job .job-list li span {
  float: right;
  font-size: 1.2rem;
  width: auto;
}

#get-with-us i {
  font-size: 80px;
  padding-bottom: 15px;
}

#get-with-us p {
  line-height: normal;
}

#fit-with-us h3,
#get-with-us h3 {
  padding-top: 65px;
  font-size: 1.3rem;
  margin-bottom: 75px;
  text-transform: uppercase;
}

.m-b-65 {
  margin-bottom: 40px;
}

.card-header {
  font-family: Futura-bold;
}

.card-header,
.card-header i {
  background-color: #fff;
  border: none;
  font-weight: 700;
  font-size: 16px;
  padding: 0;
}

.card-header i {
  padding: 0 15px;
}

.card-header a {
  padding: 20px 15px;
  float: left;
  width: 100%;
  display: flex;
  align-items: center;
}

.card {
  box-shadow: 1px 1px 5px #808080bf;
  margin-bottom: 20px;
}

.card-body {
  padding: 0 15px 15px 57px;
}

#faq .left-bg {
  background-size: 100% 100%;
}

#contact .right-bg,
#faq .right-bg {
  background-size: 100% 100%;
  padding: 0 30px 30px 15px;
  background-position: 0 80px;
}

.profile i {
  float: left;
  font-size: 26px;
  padding-right: 15px;
}

.profile span {
  font-size: 18px;
}

.designation {
  background: var(--blue-bg-color);
  padding: 15px;
  position: absolute;
  margin-top: -50px;
  /* right: 15px; */
  font-weight: 500;
  font-size: 18px;
}

.designation span {
  font-family: Futura-bold;
  float: left;
  width: 100%;
  font-weight: 700;
}

.job-desc li {
  float: left;
  width: 100%;
}

.job-desc li i {
  font-weight: bold;
  font-size: 18px;
  padding: 0 5px;
}
@media only screen and (max-width: 767px) {
  #home {
    padding-top: 110px !important;
  }

  #mainNav {
    box-shadow: 0 0 7px rgba(0,0,0,.1);
  }

  #mainNav.navbar-shrink {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }

  .nav-link.active,
  .nav-link:hover {
    border-bottom: none !important;
  }

  /* footer .container,
  section .container {
    width: 100%;
  } */

  h2 {
    padding: 50px 0;
  }

  h2:before {
    width: 50px;
    margin: 20px 0 0 -60px;
  }

  #vorteile li span {
    padding-left: 10px;
  }

  h1 {
    font-size: 2.2rem;
  }

  .header-bg {
    padding: 80px 15px 70px;
  }

  #uber-rappidoo .bg {
    padding: 120px 0 0;
  }

  #uber-rappidoo .card {
    padding: 30px 25px;
    background: #42b6f8e6;
  }

  .m-l-120 {
    margin-left: 0;
    margin-bottom: 20px;
  }

  .navbar {
    width: 100%;
    padding: 15px;
  }

  footer ul,
  footer ul li {
    float: none;
  }

  .nav-item {
    padding: 2px 0;
    text-align: center;
  }

  .nav-link:active,
  .nav-link:focus,
  .nav-link:hover {
    border: none !important;
  }

  #deine h2 {
    line-height: 1.5;
    font-size: 24px;
  }

  .deine-bg-size {
    background-size: cover;
  }

  .p-r-0 {
    padding-right: 15px;
  }

  .p-l-30 {
    padding-left: 15px;
  }

  .p-l-0 {
    padding-left: 0;
    padding-right: 0;
  }

  .profile {
    margin-top: 40px;
  }

  #fit-with-us li:last-child {
    margin-bottom: 30px;
  }

  .p-l-15 {
    padding-right: 15px;
  }

  #more-job .job-list li span {
    float: left;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .nav-link:active,
  .nav-link:focus,
  .nav-link:hover {
    border: none !important;
  }

  footer ul,
  footer ul li {
    float: none;
  }

  .nav-item {
    padding: 2px 55px;
    text-align: center;
  }

  .nav-link:active,
  .nav-link:focus,
  .nav-link:hover {
    border: none !important;
  }

  .header-bg {
    padding: 180px 0 100px;
  }

  .deine-bg-size {
    background-size: cover;
  }

  .p-r-0 {
    padding-right: 15px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1211px) {
  .nav-item {
    padding: 0 50px;
  }
}
/*changes css*/
.navbar-brand {
  margin-right: 0;
  padding-right: 0;
}

.navbar {
  /* max-width: 100%;
width: var(--container-calc-width); */
  padding: 10px 40px;
  margin: 0 auto;
}

.navbar-nav {
  margin: 0 auto;
}

#services i {
  font-size: 48px;
  margin-bottom: 20px;
}

#vorteile img {
  max-width: 450px;
}

#uber-rappidoo .card {
  margin-bottom: 0;
}

#uber-rappidoo .bg {
  padding: 250px 0 0;
}

#uber-rappidoo .bg .col-lg-12 {
  padding-bottom: 0;
}

.theme--dark.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined){
  bottom: 25px;
}
