<template>
<v-app>

  <!-- <v-navigation-drawer v-model="drawer" :clipped="clipped" fixed app color="#FFFFFF" flat>
    <v-list>
      <v-list-item v-for="(item, i) in items" :key="i" :to="item.to" router exact>
        <v-list-item-action>
          <v-icon>{{ item.icon }}</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title v-text="item.title" />
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-navigation-drawer> -->
  <v-app-bar :clipped-left="clipped" app color="#FFFFFF" flat>
    <!-- <v-app-bar-nav-icon @click.stop="drawer = !drawer" /> -->
    <nuxt-link to="/">
      <v-img class="mx-2" max-height="40" max-width="40" contain src='/img/logo.png'></v-img>
    </nuxt-link>
    <nuxt-link to="/">
      <v-toolbar-title v-text="title" />
    </nuxt-link>
    <v-spacer />

  </v-app-bar>


  <ButtonsFloating></ButtonsFloating>

  <v-content>
    <nuxt />
  </v-content>



  <v-footer :fixed="fixed" app color="#FFFFFF">
    <span>&copy; {{ new Date().getFullYear() }} Rappidoo GmbH | Habsburgerstraße 11 | 90475 Nürnberg</span>

    <v-spacer />
    <nuxt-link to="/Jobs">Jobs </nuxt-link> |
    <nuxt-link to="/legal/Imprint">Impressum </nuxt-link> |
    <nuxt-link to="/legal/DataPolicy"> Datenschutz</nuxt-link>

  </v-footer>


</v-app>
</template>

<script>
import ButtonsFloating from "@/components/ButtonsFloating"

export default {
  components: {
    ButtonsFloating
  },
  data() {
    return {
      fixed: null,
      clipped: null,
      items: [{
          icon: 'mdi-apps',
          title: 'Home',
          to: '/'
        },
        {
          icon: 'mdi-chart-bubble',
          title: 'Jobs',
          to: '/Jobs'
        }
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'Rappidoo Consulting'
    }
  }
  // ,mounted: {
  // script: [{
  //   src: 'https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js'
  // }]
  //   cookie() {
  //     window.cookieconsent.initialise({
  //       "palette": {
  //         "popup": {
  //           "background": "#237afc"
  //         },
  //         "button": {
  //           "background": "#fff",
  //           "text": "#237afc"
  //         }
  //       },
  //       "theme": "classic",
  //       "position": "bottom-right",
  //       "content": {
  //         "message": "Diese Website verwendet Cookies. 🍪",
  //         "dismiss": "Ich will die Kekse",
  //         "link": "mehr",
  //         "href": "/datapolicy"
  //       }
  //     });
  //     return null
  //   }
  // }
}
</script>
