<template>
<div>
  <section id="home">
    <div class="container header-bg white--text">
      <div class="row">
        <div class="col">
          <h1>IT-Beratung und Umsetzung<br />aus einer Hand</h1>
          <h5>Optimieren Sie Ihren gesamten IT-Geschäftsprozess - <br /> von der Strategie bis zur maßgeschneiderten Lösung.</h5>
        </div>
      </div>
    </div>
  </section>
  <section id="services">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-12">
          <h2>Das können wir</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <v-icon class="iconXl" color="black">find_replace</v-icon>
          <h3>IT-Projektmanagement</h3>
          <p>Die Schnittstelle zwischen Entwickler und Anwender.</p>
        </div>
        <div class="col-lg-3">
          <v-icon class="iconXl" color="black">find_replace</v-icon>
          <h3>IT-Prozessmanagement</h3>
          <p>Für höhe Effizienz und Wirtschaftlichkeit in den Prozessen.</p>
        </div>
        <div class="col-lg-3">
          <v-icon class="iconXl" color="black">trending_up</v-icon>
          <h3>Strategische IT-Beratung</h3>
          <p>Eine handfeste Strategie auf Basis aller IT-Prozesse.</p>
        </div>
        <div class="col-lg-3">
          <v-icon class="iconXl" color="black">code</v-icon>
          <h3>Individual software</h3>
          <p>Maßgeschneiderte Lösungen für Ihren Geschäftsprozess.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="vorteile">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Das erwartet Sie</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <img src="/img/it-consult.jpg" class="img-fluid">
        </div>
        <div class="col-lg-5">
          <h3>Partner auf Augenhöhe</h3>
          <p>Das bedeutet für uns: Wir packen gemeinsam an und finden den richtigen Weg ans Ziel. Ehrlich, transparent, lösungsorientiert.</p>
          <ul>
            <li>
              <strong>Ganzheitlicher Ansatz:</strong>
              Zu Beginn nehmen wir alle Geschäftsprozesse auf - mit dem Ziel einer ganzheitlichen Lösung. Wir sind keine Agentur, sondern Berater und Umsetzer.</li>
            <li>
              <strong>Gemeinsam Lösungen finden:</strong>
              Von Einbahnstraßen-Consulting halten wir nichts. Wir ziehen an einem Strang und arbeiten uns so voran, dass Sie hinterher alles selbst betreiben können.</li>
            <li>
              <strong>Fulfillment-Dienstleister:</strong> IT-Consulting und Implementierung von A bis Z. Wir bleiben von der anfänglichen Bestandsaufnahme bis hin zur Einführung eng an Ihrer Seite.</li>
          </ul>
        </div>
      </div>
    </div>
  </section>


  <section id="uber-rappidoo">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2>Das sind wir</h2>
        </div>
      </div>
      <div class="row bg">
        <div class="col-lg-12">
          <div class="row justify-content-around">
            <div class="col-lg-6 col-md-8 col-10 card">
              <h3>Consulting meets Technology.</h3>
              <p>Die Mischung macht’s. Daher kombinieren wir in der Geschäftsführung von Rappidoo technisches Know-how eines Fachinformatikers mit dem analytischen Consulting-Ansatz eines Wirtschaftsinformatikers. Eine Kombination, die sich
                durch unser gesamtes Team zieht.
              </p>
              <p> In den Mittelpunkt rücken wir immer einen gemeinsamen und ganzheitlichen Lösungsansatz. Damit stellen wir sicher, dass wir Ihnen Ihre Probleme abnehmen und Sie selbst dafür sorgen, dass diese erst gar nicht mehr auftreten.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
</template>

<script>
export default {
  data() {
    return {
      meta_title: "Rappidoo Consulting | IT-Consulting, IT-Projektmanagement, Software-Entwicklung",
      meta_description: "IT-Kompetenz von A bis Z. Jetzt gesamten IT-Geschäftsprozess optimieren - von der Strategie bis zur maßgeschneiderten Lösung. ✅ Partner auf Augenhöhe. ",
      meta_img: "/img/OG_Rappidoo_GmbH.png",
      meta_url: "https://www.rappidoo.consulting" + this.$nuxt.$route.path,
      meta_jsonld: '{"@context": "https://schema.org","@type": "Organization","url": "http://www.rappidoo.consulting","legalName": "Rappidoo GmbH","logo": "http://www.rappidoo.consulting","name": "Rappidoo GmbH","contactPoint": {"@type": "ContactPoint","telephone": "+4991193160326","contactType": "Backoffice"},"foundingDate": "2017","founders": [{"@type": "Person","name": "Nabil Sayegh"},{"@type": "Person","name": "Michael Ewe"}],"sameAs": ["https://www.facebook.com/rappidoogmbh/","https://www.xing.com/companies/rappidoogmbh","https://www.linkedin.com/company/rappidoogmbh","https://twitter.com/rappidoogmbh"]}'
      //   //TODO: Add Logo URL
    }
  },
  head() {
    return {
      title: this.meta_title,
      __dangerouslyDisableSanitizers: ['script'],
      script: [{
        type: 'application/ld+json',
        src: this.meta_jsonld
      }],
      meta: [{
        name: "title",
        content: this.meta_title
      }, {
        property: "og:title",
        content: this.meta_title
      }, {
        property: "twitter:title",
        content: this.meta_title
      }, {
        property: "og:description",
        content: this.meta_description
      }, {
        name: "description",
        content: this.meta_description
      }, {
        property: "twitter:description",
        content: this.meta_description
      }, {
        property: "twitter:image",
        content: this.meta_img
      }, {
        property: "og:image",
        content: this.meta_img
      }, {
        property: "twitter:url",
        content: "https://www.rappidoo.consulting" + this.$nuxt.$route.path
      }, {
        property: "og:url",
        content: "https://www.rappidoo.consulting" + this.$nuxt.$route.path
      }]
    }
  }
}
</script>
