<template>
<div>

  <section id="home">
    <div class="container header-bg">
      <div class="row">
        <div class="col white--text">
          <h1>Join us. <br>From anywhere.</h1>
          <h5>Wir sind auf der Suche nach versierten und inspirierten Personen,<br> die unser schnell wachsendes Team verstärken wollen.</h5>
        </div>
      </div>
    </div>
  </section>

  <section>
    <v-container>
      <v-row>
        <v-col lg="12" class="text-center">
          <h2>DEIN KARRIERESTART</h2>
        </v-col>
      </v-row>

      <JobCompanyHeadline></JobCompanyHeadline>

    </v-container>
  </section>
  <section id="deine" class="m-b-75">
    <v-container class="-fluid">
      <v-row>
        <v-col lg="12" class="text-center">
          <h2>UNSERE ANGEBOTE</h2>
        </v-col>
      </v-row>

      <v-row class=" blue-bg-img deine-bg-size">
        <v-col lg="6" md="12">

          <v-container fluid>

            <v-row dense v-if="categories !== null">
              <v-col v-for="category in categories" :key="category.name" :cols="6">
                <v-card @click.prevent="onSelectCategory(category)">
                  <v-img :src="'/img/' + category.img" class="white--text align-end" gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)" height="200px">
                    <v-card-title v-text="category.name"></v-card-title>
                  </v-img>

                </v-card>
              </v-col>
            </v-row>
          </v-container>

          <!-- <v-row>
            <v-col lg="6" md="6" class="p-r-0 m-b-15" v-for="category in categories" :key="category.name" @click.prevent="onSelectCategory(category)">
              <img for="development" :src="'/img/' + category.img" class="img-fluid">
              <label for="development" class="centered-job-title"> {{category.name}} </label>
              <input type="radio" name="development" id="development">
            </v-col>
          </v-row> -->
        </v-col>

        <v-col v-if="selectedCategory !== null" lg="5" md="12" class="p-l-30">
          <h3 class="p-l-30">Jobs im Bereich {{selectedCategory.name}}</h3>
          <p class="p-l-30">{{this.selectedCategory.description}}</p>
          <ul class="job-list">
            <li v-for="job in jobsInSelectedCategory" :key="job.id"><a :href="'/job/' + job.id"><i class="fa fa-angle-right"></i>{{job.title}}<span>{{job.where}}</span></a></li>
          </ul>
        </v-col>
        <v-col v-else lg="5" md="12" class="p-l-30">
          <h3 class="p-l-30">Wähle eine Kategorie, in der du uns unterstützen willst.</h3>
          <p class="p-l-30">
            <v-icon x-large color="#5FC0F9">keyboard_return</v-icon>
          </p>


        </v-col>
      </v-row>
    </v-container>
  </section>

  <JobBenefits></JobBenefits>

  <section id="faq" class="m-b-75">
    <v-container class="-fluid">
      <v-row>
        <v-col lg="12" class="text-center">
          <h2>FAQ</h2>
        </v-col>
      </v-row>

      <v-row>


        <Faq></Faq>
        <ContactPerson></ContactPerson>

      </v-row>
    </v-container>
  </section>

  <section id="fit-with-us" class="blue-bg white--text pb-5">
    <v-container>
      <v-row>
        <v-col lg="12" class="text-center">
          <h3>DU PASST ZU UNS…</h3>
        </v-col>
      </v-row>
      <v-row>
        <v-col lg="6">
          <ul>
            <li><span>
                <v-icon color="white">check</v-icon>
              </span>... wenn du davon träumst, von deinem Lieblingsort aus zu arbeiten.</li>
            <li><span>
                <v-icon color="white">check</v-icon>
              </span>... wenn du eigenständig und eigenverantwortlich arbeiten kannst.</li>
            <li><span>
                <v-icon color="white">check</v-icon>
              </span>... wenn du Feedback schätzt und dich stetig weiterentwickeln möchtest.</li>
          </ul>
        </v-col>
        <v-col lg="6">
          <ul>
            <li><span>
                <v-icon color="white">check</v-icon>
              </span>... wenn dir nachhaltige Lösungen wichtiger sind als kurzfristiger Erfolg.</li>
            <li><span>
                <v-icon color="white">check</v-icon>
              </span>... wenn du in der Lage bist, "Out-of-the-box" zu denken.</li>
            <li><span>
                <v-icon color="white">check</v-icon>
              </span>... wenn du die Fähigkeit hast, Konzepte und Prozesse schnell zu erlernen.</li>
          </ul>
        </v-col>
      </v-row>
    </v-container>
  </section>


</div>
</template>

<script>
import ContactPerson from "@/components/ContactPerson"
import JobCompanyHeadline from "@/components/JobCompanyHeadline"
import JobBenefits from "@/components/JobBenefits"
import Faq from "@/components/Faq"


export default {
  data() {
    return {
      selectedCategory: null,
      meta_title: "Jobs | IT von A bis Z. Deine Karriere bei Rappidoo Consulting",
      meta_description: "Arbeiten, wann und wo du willst. Genieße die Vorzüge einer Remote Company und finde hier deinen passenden IT-Job. Ob Java-Entwickler oder IT-Projektmanager.",
      meta_img: "/img/OG_Rappidoo_GmbH.png",
      meta_url: "https://www.rappidoo.consulting" + this.$nuxt.$route.path
    }
  },
  components: {
    ContactPerson,
    JobCompanyHeadline,
    JobBenefits,
    Faq
  },
  created: function() {
    this.$store.dispatch("loadCategories"),
    this.$store.dispatch("loadJobs")
  },
  computed: {
    categories() {
      return this.$store.getters.categories
    },
    jobsInSelectedCategory() {
      this.meta_title = this.selectedCategory.name
      return this.$store.getters.jobsByCategory(this.selectedCategory)
    },
    initialized() {
      return Boolean(this.categories)
    }
  }
  ,
  methods: {
    onSelectCategory: function(category) {
      this.selectedCategory = category
    }
  },
  head() {
    return {
      title: this.meta_title,
      meta: [{
        name: "title",
        content: this.meta_title
      }, {
        property: "og:title",
        content: this.meta_title
      }, {
        property: "twitter:title",
        content: this.meta_title
      }, {
        property: "og:description",
        content: this.meta_description
      }, {
        name: "description",
        content: this.meta_description
      }, {
        property: "twitter:description",
        content: this.meta_description
      }, {
        property: "twitter:image",
        content: this.meta_img
      }, {
        property: "og:image",
        content: this.meta_img
      }, {
        property: "twitter:url",
        content: "https://www.rappidoo.consulting" + this.$nuxt.$route.path
      }, {
        property: "og:url",
        content: "https://www.rappidoo.consulting" + this.$nuxt.$route.path
      }]
    }
  }

}
</script>
